# QUnit test
snippet qt
	test("${1:test name}", function() {
		${2}
	});
# QUnit asyncTest
snippet aqt
	asyncTest("${1:test name}", function() {
		${2}
	});
# QUnit module
snippet qmod
	module("${1:module name}", {
		setup: function() {
		},
		teardown: function() {
		}
	});
# Function
snippet f
	function(${1}) {${2}}
# Log to console
snippet con
	console.log(${1});
